// VARIABLES
$base-bg: #ffffff;
$grey-bg: #f5f6fa;
$light: #ffffff;

$blue: #0266f4;
$deep-blue: #1f2666;
$light-blue: #6ea1f2;
$light-blue-border: #0266f433;
$light-blue-II: #dce9fa;
$light-blue-III: #e5effe;

$border-blue: #004e98;
$border-grey: #afbace;

$gold: #ed9742;
$gold-border: #ed974233;

$text-dark: #1c1d1d;
$text-grey: #464646;
$header-dark: #1a1a1a;
$secondary: #747474;

$gray: #979dad;
$dark-gray: #4a5568;
$light-grey: #7676801f;

$light-red: #ff3b00;
$mute: #6c757d;
$bg-color: #f3f9ff;
$text-green: #5c9623;
