name: Deploy to Production

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: [production]

        strategy:
            matrix:
                node-version: [22.x]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'
            - name: Create .env file
              run: |
                  echo "${{ secrets.ENV_FILE_CONTENT }}" > .env

            - name: Install dependencies
              run: pnpm install

            - name: Build Application
              run: pnpm run build

            - name: Reload server instances
              run: pm2 reload 0 --update-env --wait-ready
